.close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: $cornflower-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.close-btn:hover,
.close-btn:focus {
  background-color: $ocean-color;
  border: $ocean-color;
}

.close-btn-icon:hover,
.close-btn-icon:focus {
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: $body-background-color;
}
