/* =============== OUR TEAMS SECTION =============== */
.team {
  background-color: $cloud-color;
}

.team-card-list {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-card-item {
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: $body-background-color;
}

/* =============== Social Icons ==================== */
.social-list {
  display: flex;
  margin-top: 16px;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.team-social-link {
  background-color: $iris-color;
  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: $ocean-color;
}

.social-icon {
  fill: $light-slate-color;
}

@media screen and (min-width: 768px) {
  .team-card-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ==================== Social Icons ==================== */
/* ================= OUR TEAMS SECTION ================== */
