body {
  font-family: 'Roboto', sans-serif;
  color: $navy-blue-color;
  background-color: $body-background-color;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

button {
  cursor: pointer;
}